.content{text-align:center;margin:30px auto;}
.imgBox{text-align:center;}
.diImg{width:100%;border:0px;}
.fontBox{width:990px;margin:auto;padding-left:10px;position:relative;}
.fontTex{height:1200px;background:#85a93d;padding:20px;text-indent:2em;color:#fff;line-height:30px;text-align:justify;font-size:16px;padding-top:85px;}
.topImg1{width:304px;height:59px;line-height:56px;color:#fff;font-size:20px;text-align:left;background:url(../img/topImg.gif) no-repeat;position:absolute;top:335px;left:0px;text-indent:15px;}
.topImg2{width:304px;height:59px;line-height:56px;color:#fff;font-size:20px;text-align:left;background:url(../img/topImg1.gif) no-repeat;position:absolute;top:20px;left:0px;text-indent:15px;}
.topImg3{width:186px;height:59px;line-height:56px;color:#fff;font-size:20px;text-align:left;background:url(../img/topImg1.gif) no-repeat;position:absolute;top:670px;left:0px;text-indent:15px;}
.topImg4{width:186px;height:59px;line-height:56px;color:#fff;font-size:20px;text-align:left;background:url(../img/topImg1.gif) no-repeat;position:absolute;top:990px;left:0px;text-indent:15px;}
.xianshu1{margin-top:100px;}
.xianshu2{margin-top:10px;}
.xianshu3{margin-top:110px;}
.xianshu4{margin-top:420px;}
.common{width:210px;float:left;margin-right:35px;text-align:center;}
.commonLast{width:210px;float:right;text-align:center;}
.imgTex{float:left;width:100%;height:60px;margin-bottom:10px;text-indent:0;text-align:center;}
.mengImg{margin-right:25px;}
.phoneNum1{padding-left:165px;}
.phoneNum2{padding-left:185px;}
.leftTex{float:left;width:150px;text-align:right;}