*{margin:0px;padding:0px;}
html,body{width:100%;height:100%;font-size:16px;min-width:320px;}
a{text-decoration:none;}
ul{list-style:none;}
.box{margin:18px 12px;font-family:"微软雅黑";padding-bottom:18px;}
.top{height:55px;background:url(../img/bjX.png) repeat-x center;margin:-18px -12px;color:#fff;line-height:55px;text-align:center;font-size:14px;}
.votBox{height:60px;line-height:60px;background:#db3333;margin-top:33px;padding-left:10px;padding-right:10px;border-radius:5px;}
.actBox{height:60px;line-height:60px;background:#00a468;margin-top:18px;padding-left:10px;padding-right:10px;border-radius:5px;}
.hisBox{height:60px;line-height:60px;background:#ab4e00;margin-top:18px;padding-left:10px;padding-right:10px;border-radius:5px;}
.hotBox{height:60px;line-height:60px;background:#ffab00;margin-top:18px;padding-left:10px;padding-right:10px;border-radius:5px;}
.title1{height:60%;margin-top:15px;float:left;}
.titleTex{color:#fff;font-weight:bold;margin-left:18px;font-size:18px;float:left;font-weight:bold;}
.arraw{height:60%;float:right;margin-top:14px;}
.aBox{float:left;width:100%;height:50px;}
#bottom{background:url(../img/bj.gif) repeat-x;height:57px;line-height:57px;text-align:center;color:#fff;font-weight:bold;font-size:14px;margin:-18px -12px;}
.botLeft{float:left;color:#808080;font-size:12px;margin-top:18px;margin-bottom:18px;}
.botRight{float:right;color:#808080;font-size:12px;margin-top:18px;margin-bottom:18px;}

