*{margin:0px;padding:0px;}
html,body{width:100%;height:100%;font-size:16px;min-width:320px;background:#f7f7f7;}
a{text-decoration:none;}
ul{list-style:none;}
.clear{clear:both;}
.box{margin:18px 12px;font-family:"微软雅黑";}
.title{color:#333333;font-size:20px;font-weight:bold;}
.detail{height:20px;line-height:20px;color:#7f7f7f;font-size:12px;margin-top:15px;margin-bottom:10px;}
.time{float:left;margin-right:10px;}
.pImg{width:100%;}
.report{height:20px;line-height:20px;text-align:right;margin-top:10px;font-size:12px;}
.report a{color:#7f7f7f;}
.voteNum{margin-top:15px;margin-bottom:8px;padding-left:10px;}
.voteNum span{float:left;font-size:12px;color:#333;}
.sendOver{height:44px;line-height:44px;background:url(../img/overBj.gif) repeat-x top center;font-size:18px;color:#fff;border:0px;text-align:center;width:100%;font-weight:bold;margin-top:18px;border-radius:5px;}
.sendBtnX{height:44px;line-height:44px;background:url(../img/sendBj.gif) no-repeat top center;font-size:18px;color:#fff;border:0px;text-align:center;width:100%;border-radius:5px;font-weight:bold;margin-top:18px;filter: alpha(opacity=80); /*IE*/
-moz-opacity: 0.8; /*MOZ , FF*/
opacity: 0.8; /*CSS3, FF1.5*/}
.btn{margin-top:18px;}
.bottom{height:45px;line-height:45px;text-align:center;font-size:12px;margin-bottom:18px;color:#808080;}
.sendBox{width:41%;text-align:center;margin-right:10px;float:left;background:url(../img/grayBtn.gif) no-repeat center top;height:45px;line-height:45px;border-radius:5px;color:#fff;padding:0px 10px;}
.sendBtn{height:44px;line-height:44px;background:url(../img/sendBj.gif) no-repeat top center;font-size:18px;color:#fff;border:0px;text-align:center;width:100%;border-radius:5px;font-weight:bold;margin-top:18px;}
.share1{float:left;height:15px;margin-top:15px;}
.share2{float:left;height:20px;margin-top:12px;}
.shareBox{width:41%;text-align:center;float:right;background:url(../img/grayBtn.gif) no-repeat center top;height:45px;line-height:45px;border-radius:5px;color:#fff;padding:0px 10px;}
s.green{height:10px;float:left;background:#4eb856;}
.grayNess{height:10px;float:left;background:#e5e5e5;}
.gGBox{width:100%;}
.gLeft{float:left;}
.blacBottom{height:50px;background:#1a1a1a;line-height:50px;text-align:center;color:#fff;margin:-18px -12px;}
.checkList{border-top:1px #ccc solid;border-radius:5px;font-size:14px;}
.checkList li{height:45px;line-height:45px;border-radius:5px;background:#fff;padding:0px 10px;border:1px #ccc solid;border-top:0px;}
.radioText{float:left;}
.inRadio{height:15px;width:15px;float:right;margin-top:12px;border-radius:15px;border:1px #ccc solid;}
.radioCheck{}
.chosImg{height:20px;float:right;margin-top:15px;}

.numBox{background:#fff;padding:0 12px;padding-bottom:18px;border:1px #ccc solid;border-radius:5px;margin-top:5px;}
.num{text-align:right;word-spacing:10px;color:#808080;font-size:12px;margin-bottom:5px;margin-top:18px;}
.faceRight{float:right;}
.faceRight span{float:left;margin-top:5px;}
.voteText{margin-right:10px;}
.faceText{float:left;font-size:14px;margin-top:5px;}
.face{height:30px;float:left;margin-right:5px;}
.faceText{float:left;}
.green{height:10px;float:left;background:#4eb856;}
.grayNess{height:10px;float:left;background:#e5e5e5;}
.gGBox{width:100%;}
.gLeft{float:left;}