.ruleText{text-align:center;color:#1d1d1d;font-weight:bold;font-size:25px;margin-top:25px;}
.ruleDate{text-align:center;color:#393939;font-weight:bold;font-size:16px;margin-top:10px;}
.huiSolid{border-top:1px #7e7e7e solid;margin:25px -12px;}
.textP{margin-bottom:10px;line-height:25px;}
