.btn-yeladd,.btn-yeladd:active, .btn-yeladd:visited {
    background:#CCFF99;height: 0.7rem;line-height: 0.7rem;padding: 0 0.6rem;color: #f00;
    font-size: 0.4rem;display: inline-block;cursor: pointer;-moz-border-radius: 3rem;-ms-border-radius: 3rem;
    -o-border-radius: 3rem;-webkit-border-radius: 3rem;border-radius: 3rem;text-decoration: none;border: 2px solid #385d8a;}
.logbuttom{
    margin-top:20px;
    padding-top: 20px;
}