@charset "utf-8";
/* CSS Document */
body,ul,ol,dl,li,dd,p,form,h1,h2,h3{margin:0;padding:0;}
body{font-size:0.25rem; background:#c21a1d url(../images/bg.png) bottom left no-repeat; color:#333; position:relative; background-size:100% auto;}
i,em{font-style:normal; vertical-align:middle;}
img{border:none;}
a,input,button{outline:none;}
li{list-style:none;}
input,textarea,select,button{font-size:1em;}
.clear{clear:both;float:none;}
.clrfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;overflow:hidden;}
.clrfix { zoom:1;}

/*display*/
.hide{ display:none;}
.show{ display:block;}
.v-h{ visibility:hidden;}
.v-v{ visibility:visible;}

/*vertical-align*/
.v-b{ vertical-align:bottom;}
.v-t{ vertical-align:top;}
.v-m{ vertical-align: middle;}

/*float*/
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}

/*margin*/
.ml-10{ margin-left:10px;}
.mt-5{ margin-top:5px;}
.mt-10{ margin-top:10px;}
.mt-20{ margin-top:20px;}
.mt-30{ margin-top:30px;}
.mt-40{ margin-top:40px;}
.mt-50{ margin-top:50px;}
.mr-10{ margin-right:10px;}
.mb-10{ margin-bottom:10px;}
.mb-20{ margin-bottom:20px;}
.mb-30{ margin-bottom:30px;}

/*color*/
.c1{color:#f5da10;}
.c2{color:#08c;}
.c3{color:#f60;}

/*padding*/
.pt-10{ padding-top:10px;}
.pt-20{ padding-top:20px;}
.pb-10{ padding-bottom:10px;}
.pb-20{ padding-bottom:20px;}

/*text-align*/
.ta-c{ text-align:center;}
.ta-l{ text-align:left;}
.ta-r{ text-align:right;}

/*font-size*/
.fz12{font-size:12px;}
.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.fz22{font-size:22px;}
.fz24{font-size:24px;}
.fz26{font-size:26px;}
.fz28{font-size:28px;}
.fz30{font-size:30px;}
.fz40{font-size:40px;}


/*img-box*/
.img-box{ text-align:center;}
.img-box img{ width:80%;height:auto; border:none; margin:0; padding:0; vertical-align:top;}


.prize-box{ background:#fcd694; padding:0.05rem; margin:0 0.15rem 0.1rem 0.15rem; border-radius:0.1rem;z-index: 1;position: relative; font-size:0.2rem;}
.prize-box ul li{ margin-bottom:0.04rem; color:#c1191c;}
.prize-box ul dt{ background:#f1300f;color:#fff;float:left; padding:0 0.1rem; border-radius:0.1rem; margin-right:0.1rem;}

/*首页*/
.prize-box-index{ margin-top:-0.65rem;}
.index-btns{ text-align:center; margin-top:-0.05rem;}
.index-btns .index-btn{ text-indent:-9999px; overflow:hidden; display: inline-block; cursor:pointer;}
.index-btns .index-btn01{height: 0.6rem;
  width: 1.62rem;background:url(../images/btn01.png) no-repeat;background-size:auto 100%; margin:0 0.3rem 0 0;}
.index-btns .index-btn02{height: 0.6rem;
  width: 1.62rem;background:url(../images/btn02.png) no-repeat;background-size:auto 100%;}

/*游戏*/
.game-box{ height:3.2rem;position:absolute; top:2.5rem;left:0;width:100%;}
.game-box .game-item{ position:absolute; display:none;}
.game-box .game-item01{background: url(../images/g01.png) no-repeat center top; background-size:100% auto;height: 0.5rem;width: 0.45rem;top: 2.14rem;
  left: 1.58rem;}
.game-box .game-item02{background: url(../images/g02.png) no-repeat center top; background-size:100% auto; height: 0.5rem;width: 0.42rem;top: 2.48rem;
  left: 1.81rem;}
.game-box .game-item03{background: url(../images/g03.png) no-repeat center top; background-size:100% auto;height: 0.5rem;width: 0.45rem;top: 2.45rem;
  left: 2.22rem;}
.game-box .game-item04{background: url(../images/g04.png) no-repeat center top; background-size:100% auto;height: 0.75rem;width: 0.65rem;top: 2.34rem;
  left: 2.66rem;}
.game-box .game-item05{background: url(../images/g05.png) no-repeat center top; background-size:100% auto; height: 1rem;width: 0.9rem;  top: 2.2rem;left: 3.3rem;}
.game-box .game-item06{background: url(../images/g06.png) no-repeat center top; background-size:100% auto;height: 0.5rem;width: 0.45rem;top: 2.5rem;left: 4.2rem;}
  
.game-box .game-item07{background: url(../images/g07.png) no-repeat center top; background-size:100% auto;height: 0.5rem;width: 0.44rem;top: 2.5rem;
  left: 4.64rem;}
  
.game-box .game-item08{background: url(../images/g08.png) no-repeat center top; background-size:100% auto;height: 0.5rem;
  width: 0.44rem;
    top: 2.5rem;
  left: 5.07rem;}
.game-box .game-item09{background: url(../images/g09.png) no-repeat center top; background-size:100% auto;height: 0.7rem;
  width: 0.64rem;
    top: 1.98rem;
  left: 5.25rem;}

.game-box .game-item10{background: url(../images/g10.png) no-repeat center top; background-size:100% auto;height: 1rem;
  width: 0.85rem;
  top: 1.3rem;
  left: 4.72rem;}

.game-box .game-item11{background: url(../images/g11.png) no-repeat center top; background-size:100% auto;height: 0.5rem;
  width: 0.43rem;
  top: 1.55rem;
  left: 4.3rem;}
  
.game-box .game-item12{background: url(../images/g12.png) no-repeat center top; background-size:100% auto;height: 0.5rem;
  width: 0.43rem;
  top: 1.55rem;
  left: 3.89rem;}
  
.game-box .game-item13{background: url(../images/g13.png) no-repeat center top; background-size:100% auto;  height: 0.5rem;
  width: 0.43rem;
  top: 1.55rem;
  left: 3.47rem;}
  
.game-box .game-item14{background: url(../images/g14.png) no-repeat center top; background-size:100% auto;  height: 0.7rem;
  width: 0.64rem;
  top: 1.42rem;
  left: 2.84rem;}

.game-box .game-item15{background: url(../images/g15.png) no-repeat center top; background-size:100% auto;  height: 0.9rem;
  width: 0.78rem;
  top: 1.35rem;
  left: 2.07rem;}


.game-box .game-item16{background: url(../images/g16.png) no-repeat center top; background-size:100% auto;  height: 0.55rem;
  width: 0.48rem;
  top: 1.5rem;
  left: 1.6rem;}

.game-box .game-item17{background: url(../images/g17.png) no-repeat center top; background-size:100% auto;  height: 0.55rem;
  width: 0.48rem;
  top: 1.22rem;
  left: 1.29rem;}
  
.game-box .game-item18{background: url(../images/g18.png) no-repeat center top; background-size:100% auto;    height: 0.55rem;
  width: 0.48rem;
  top: 0.83rem;
  left: 1.07rem;}

.game-box .game-item19{background: url(../images/g19.png) no-repeat center top; background-size:100% auto;    height: 0.75rem;
  width: 0.65rem;
  top: 0.35rem;
  left: 0.62rem;}
  
.game-box .game-item20{background: url(../images/g20.png) no-repeat center top; background-size:100% auto;    height: 0.95rem;
  width: 0.84rem;
  top: 0.14rem;
  left: 1.26rem;}
  
.game-box .game-item21{background: url(../images/g21.png) no-repeat center top; background-size:100% auto;    height: 0.5rem;
  width: 0.4rem;
  top: 0.48rem;
  left: 2.1rem;}
.game-box .game-item22{background: url(../images/g22.png) no-repeat center top; background-size:100% auto;     height: 0.5rem;
  width: 0.4rem;
  top: 0.48rem;
  left: 2.5rem;}

.game-box .game-item23{background: url(../images/g23.png) no-repeat center top; background-size:100% auto;     height: 0.5rem;
  width: 0.4rem;
  top: 0.48rem;
  left: 2.88rem;}

.game-box .game-item24{background: url(../images/g24.png) no-repeat center top; background-size:100% auto;     height: 0.72rem;
  width: 0.65rem;
  top: 0.35rem;
  left: 3.27rem;}

.game-box .game-item25{background: url(../images/g25.png) no-repeat center top; background-size:100% auto;     height: 1.72rem;
  width: 1.4rem;
  top: 0rem;
  left: 3.86rem;}

.control-box{text-align:center;/* position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -2.25rem;*/}
.control-box li{ margin-bottom:0.12rem;}
.control-box .need-people{ background:#fffce0;display:inline-block; width:4.5rem; -moz-border-radius: 0.2rem;-webkit-border-radius: 0.2rem;-o-border-radius: 0.2rem;-ms-border-radius: 0.2rem; border-radius: 0.2rem;font-size:0.25rem; text-align:center; padding:0.08rem 0;}
.control-box .need-people strong{ font-size:0.25rem; color:#f60;}

/*btn*/
.btn-inner{color:#f5da10; border:2px solid #f5da10; width:4.5rem; display:inline-block; -moz-border-radius: 0.1rem;-webkit-border-radius: 0.1rem;-o-border-radius: 0.1rem;-ms-border-radius: 0.1rem; border-radius: 0.1rem;text-align:center; cursor:pointer;font-size:0.25rem; font-weight:bold; margin:0; padding:0.08rem 0;text-decoration:none;}

.btn-out{color:#bf161a;border:2px solid #f5da10;background:#f5da10; width:4.5rem; display:inline-block; -moz-border-radius: 0.1rem;-webkit-border-radius: 0.1rem;-o-border-radius: 0.1rem;-ms-border-radius: 0.1rem; border-radius: 0.1rem;text-align:center; cursor:pointer;font-size:0.25rem; font-weight:bold; margin:0; padding:0.08rem 0; text-decoration:none;}


/*分享*/
.layer-share .shou{ background:url(../images/img04.png) no-repeat right top;width: 2rem;height: 1.5rem;display:inline-block; background-size:auto 100%;}
.layer-share .text{ padding-left: 1rem;line-height: 0.4rem;font-weight: normal; text-align:center;}
.layer-share .layer-btn{ text-align:center; margin-top:0.4rem;}
.layer-share .layer-btn .btn-close{ display:inline-block; background:url(../images/btn03.png) no-repeat; width: 2.6rem;
  height: 0.8rem;
  background-size: auto 100%;}

.share-hy{ margin-top:0.5rem; margin-bottom:0.4rem; text-align:center;color:#f5da10;}
.share-hy i{ background:url(../images/img05.png) no-repeat;background-size:100% auto; display:inline-block;   width: 0.5rem;height: 0.55rem; margin:0 0.1rem;}
.share-pyq{ text-align:center;color:#f5da10;} 
.share-pyq i{ background:url(../images/img06.png) no-repeat;background-size:100% auto; display:inline-block; width: 0.5rem;height: 0.5rem; margin: 0 0.1rem;}


/*ranking*/
.ranking-box{ position:absolute;top:1rem;left:0; margin:0 0.2rem; text-align:center;}
.ranking-box img{ vertical-align:top;  width: 90% !important;}
.ranking-box .ranking-number{color: #f5da10;
  position: absolute;
  left: 1.86rem;
  top: 1.44rem;
  width: 2.2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;}
.ranking-box .control-box{ position:absolute;top:4rem;left:50%; margin-left:-2.25rem;}

/*rule-box*/
.rule-box{ position:absolute;top:0.2rem;left:0;width:100%;}
.rule-top{background:url(../images/img14.png) no-repeat center top;background-size: 100% auto;height: 0.6rem; margin: 0 0.2rem;}

.rule-center{background:url(../images/img15.png) repeat-y center top;background-size: 100% auto;
  margin: 0 0.2rem; color: #fff;padding: 0 0.2rem;}
.rule-center > ul{height:5rem;overflow:auto;}
.rule-center > ul > li{ margin-bottom:0.1rem;}
.rule-center > ul > li > dl > dt{color:#f5da10;}
.rule-bottom{background:url(../images/img16.png) no-repeat center bottom;background-size: 100% auto;height:0.6rem;margin: 0 0.2rem;}
.rule-btn{ margin:0.2rem 0;}

.rule-center .prize-box{ margin:0.1rem 0;color:#c1191c;}

.rule-box .rule-title{ text-align:center;}
.rule-box .rule-title .title{ background:url(../images/img11.png) no-repeat;  background-size: 100% auto;
  height: 0.9rem;
  width: 5.6rem;
  display: inline-block;
  margin-top: -0.5rem;}

.rule-box .control-box{position: relative;
  left: 0;
  margin: 0.3rem 0 0 0 !important;}

/*layer*/
.layer-box{ position:fixed;width:100%;height:100%; z-index:99999;left:0;top:0;}
.layer-bg{ background:#000; opacity:0.8; position:absolute;width:100%; height:100%; z-index:0;left:0;top:0;}
.layer-con{ color:#fff; position:relative; padding:0.2rem;}



/*弹出层*/
.layerBox{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.2); top:0; left:0; z-index:10000;}
.layerBg{ background:#fff; width:5.8rem; margin:0 auto; margin-top:20%; text-align:center; border-radius:5px;}
.layerMsg{padding:0.3rem 0; font-size:0.3rem;}
.layerMsg p{ margin-top:0.2rem;}
.layerBtn{ border:0; border-top:1px solid #d6d6dc; width:100%; height:0.9rem; line-height:0.9rem; background:none; font-size:0.4rem;}



/*form*/
.input-text{ height:0.6rem;border: none;  background:#fff; width:90%;padding:0 0.1rem; border-radius:5px;color:#ef8775;}
.form-panel{ position: absolute; width:300px;top:0.2rem;left:50%; margin-left:-150px;}
.form-panel .label{ margin:5px 0 5px 0;color:#fff; font-size:12px; float: left;}
.form-panel .controls{ position:relative; float: left;}
.input-form{ background:#fff; border:1px solid #ccc; border-radius:5px; height:30px; width:290px;max-width:300px; font-size:12px; float:left; color:#333;}
.text-area{background:#7cc7ff; border:1px solid #8f164c; border-radius:5px; width:290px;box-shadow: 2px 2px 0px #c873a0; max-width:300px; font-size:14px; float:left; resize:none;}
.form-panel select{ max-width:320px; height:34px;}

.form-btns{margin:0.2rem 0; text-align:center;}





.loaing-tips{width:2rem;font-weight: normal;position: fixed;background: #000;border-radius: 0.5rem; text-align: center;color: #fff;bottom: 2rem;left: 50%;margin-left: -1.2rem; z-index:99999; padding:0.1rem 0.2rem; display:none;}



/***********************弹出窗口样式**************************/
.pop-bg{height: 100%;width: 100%;background: #000;position: fixed;top: 0;left: 0;opacity: 0.5;z-index:99998;}
.pop-box .head{text-align: left;padding: 0 8px;background:#7cc7ff;height: 35px;line-height:38px;color: #fff;border: none;font-size: 18px;font-weight: bold;}
.pop-box{background: #fff;position: fixed;border: 1px solid #bbc9d4;border-top:none;z-index:99999;  border-radius: 5px;width: 300px;  overflow: hidden;top:10%;left:50%;margin-left:-150px;}
.pop-box .text{padding: 10px;text-align: left;font-size:14px;overflow: auto;line-height:22px;color:#08c;}
.pop-box .btn-box{padding:10px;margin: 0;}
.pop-box .btn{display: inline-block;-webkit-border-radius: 25px;-moz-border-radius: 25px;-ie-border-radius: 25px;
	border-radius: 25px;padding: 0 10px;text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
	font-size: 16px;font-weight: bold;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .15s;
	-webkit-transition-timing-function: ease-in-out;
	cursor: pointer;
	text-decoration: none;height:30px; line-height:30px;color: #fff;
	text-align:center;}

.pop-box .btn-info{background-color: #ff1d51;
	box-shadow: 0px 0px 0px 1px #FFBDBE inset, 0px 0px 0px 2px #FFBDBE inset, 0px 3px 0px 0px #FFBDBE, 0px 0px 0px 0px #FFBDBE, 0px 0px 0px 0px ;
	-webkit-box-shadow: 0px 0px 0px 1px #FFBDBE inset, 0px 0px 0px 2px #FFBDBE inset, 0px 3px 0px 0px #FFBDBE, 0px 0px 0px 0px #FFBDBE, 0px 0px 0px 0px ;
	-moz-box-shadow: 0px 0px 0px 1px #FFBDBE inset, 0px 0px 0px 2px #FFBDBE inset, 0px 3px 0px 0px #FFBDBE, 0px 0px 0px 0px #FFBDBE, 0px 0px 0px 0px ;
	-ie-box-shadow: 0px 0px 0px 1px #FFBDBE inset, 0px 0px 0px 2px #FFBDBE inset, 0px 3px 0px 0px #FFBDBE, 0px 0px 0px 0px #FFBDBE, 0px 0px 0px 0px ;width:60px;float:right;}
.pop-box .btn-default{background-color: #666;
	color: #fff;
	box-shadow: 0px 0px 0px 1px #999 inset, 0px 0px 0px 2px #999 inset, 0px 3px 0px 0px #999, 0px 0px 0px 0px #999, 0px 0px 0px 0px ;
	-webkit-box-shadow: 0px 0px 0px 1px #999 inset, 0px 0px 0px 2px #999 inset, 0px 3px 0px 0px #999, 0px 0px 0px 0px #999, 0px 0px 0px 0px ;
	-moz-box-shadow: 0px 0px 0px 1px #999 inset, 0px 0px 0px 2px #999 inset, 0px 3px 0px 0px #999, 0px 0px 0px 0px #999, 0px 0px 0px 0px ;
	-ie-box-shadow: 0px 0px 0px 1px #999 inset, 0px 0px 0px 2px #999 inset, 0px 3px 0px 0px #999, 0px 0px 0px 0px #999, 0px 0px 0px 0px ;width:60px;float:left;margin-left:0;}
	
	
