@charset "utf-8";
/* CSS Document */
body,ul,ol,dl,li,dd,p,form,h1,h2,h3{margin:0;padding:0;}
body{font-size:100%; background:#ddf0f6; color:#000;}
.bd-bg{background:#ddf0f6 url(../images/bg.jpg) no-repeat bottom;background-size: 100% auto; padding-bottom:1.5rem;}
i,em{font-style:normal; vertical-align:middle;}
img{border:none;}
a,input,button{outline:none;}
li{list-style:none;}
input,textarea,select,button{font-size:1em;}
.clear{clear:both;float:none;}
.clrfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;overflow:hidden;}
.clrfix { zoom:1;}

/*display*/
.hide{ display:none;}
.show{ display:block;}
.v-h{ visibility:hidden;}
.v-v{ visibility:visible;}

/*vertical-align*/
.v-b{ vertical-align:bottom;}
.v-t{ vertical-align:top;}
.v-m{ vertical-align: middle;}

/*float*/
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}

/*margin*/
.ml-10{ margin-left:10px;}
.mt-5{ margin-top:5px;}
.mt-10{ margin-top:10px;}
.mt-20{ margin-top:20px;}
.mt-30{ margin-top:30px;}
.mt-40{ margin-top:40px;}
.mt-50{ margin-top:50px;}
.mr-10{ margin-right:10px;}
.mb-10{ margin-bottom:10px;}
.mb-20{ margin-bottom:20px;}
.mb-30{ margin-bottom:30px;}

/*padding*/
.pt-10{ padding-top:10px;}
.pt-20{ padding-top:20px;}
.pt-30{ padding-top:30px;}
.pb-10{ padding-bottom:10px;}
.pb-20{ padding-bottom:20px;}

/*text-align*/
.ta-c{ text-align:center;}
.ta-l{ text-align:left;}
.ta-r{ text-align:right;}

/*font-size*/
.fz12{font-size:12px;}
.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.fz22{font-size:22px;}
.fz24{font-size:24px;}
.fz26{font-size:26px;}
.fz28{font-size:28px;}
.fz30{font-size:30px;}
.fz40{font-size:40px;}

/*position*/
.p-r{ position:relative;}

/*index*/
.index-btn{ background:url(../images/p1/img06.png) no-repeat;background-size:auto 100%;width: 3.56rem;height: 0.7rem;position: absolute;top: 9rem;left:50%; margin-left:-1.78rem; cursor:pointer;}

/*btn*/
.btn-red,.btn-red:active,.btn-red:visited{background:#d6000f; height:0.7rem; line-height:0.7rem; padding:0 0.4rem;color:#fff; font-size:0.4rem; display:inline-block; cursor:pointer; -moz-border-radius:3rem;-ms-border-radius:3rem;-o-border-radius:3rem;-webkit-border-radius:3rem;border-radius:3rem; text-decoration:none;}
.btn-disabled{ background:#646464 !important;}

/*icon*/
.icon01{ background:url(../images/get/i01.png) no-repeat; background-size:auto 100%; display:inline-block; width:0.5rem;height:0.5rem; vertical-align:middle;}
.btn-red .icon01{float:right; margin:0.15rem 0 0 0.2rem;}

/*rule*/
.rule{color:#005982; padding:0.2rem;}
.rule dt{font-size:0.6rem; text-align:center;font-weight:bold; margin-bottom:10px;}
.rule dd{font-size:0.4rem; line-height:0.6rem;}

/*活动素材*/
.get-sucai{ text-align:center; padding-top:30px;}
.get-sucai h1{font-size:0.6rem; padding:0.2rem 0; font-weight:normal;}
.get-sucai .name{color:#005982;font-size:0.4rem;font-weight:bold; margin-bottom:0.2rem;}
.get-sucai img{width:3rem; height:3rem;}
.get-sucai .times{ margin:0.3rem;}
.get-sucai .times div{ float:left;}
.get-sucai .times .bd-lf{ border-bottom:2px solid #d6000f; width:0.8rem; margin-top:0.25rem;}
.get-sucai .times .bd-rg{ border-bottom:2px solid #d6000f; width:0.8rem; margin-top:0.25rem;float:right;}
.get-sucai .times .text{font-size:0.5rem; height:0.6rem;color:#d6000f;font-weight:bold;width:4.2rem;}
.get-sucai .btn{ background:#d6000f; font-size:0.42rem; width:2.4rem; display:inline-block;color:#fff; cursor:pointer; -moz-border-radius:0.2rem;-webkit-border-radius:0.2rem;-ms-border-radius:0.2rem;-o-border-radius:0.2rem;border-radius:0.2rem; padding:6px 0; height:1rem; vertical-align:top; text-decoration:none;}

/*sucai-list*/
.sucai-list{width:5.6rem; margin:0 auto;}
.sucai-list .item{width:50%;float:left; margin-top:0.3rem;}
.sucai-list .name{color:#005982;font-size:0.4rem; margin-bottom:5px;}
.sucai-list .img{float:left;width:2rem; border:2px solid #00489a;}
.sucai-list .img.has{border:2px solid #e60012;}
.sucai-list .img img{width:100%;}
.sucai-list .num{float:left;width:0.5rem;font-size:0.4rem; margin-top:0.8rem;color:#005982; margin-left:5px;}
.sucai-box{ padding-top:20px;}
.sucai-box .btn-box{font-size:0.4rem;color:#292929;}

/*提交成功*/
.success-wrap{ text-align:center;}
.success-wrap h1{font-size:0.5rem; padding:0.3rem 0;}
.success-wrap .text{color:#005982;font-size:0.35rem;font-weight:bold; line-height:0.45rem;}

/*提交信息*/
.reg-box h1{font-size:0.4rem; text-align:center; padding:0.3rem 0;}
.reg-box .text{color:#005982;font-size:0.3rem; padding:0 10px; line-height:0.45rem;}
.form-ul{ margin:20px;}
.form-ul li{background:#005e9a; margin-bottom:2px; height:40px;}
.form-ul li .control-label{ float:left; line-height:40px;width:22%; text-align:center;font-size:18px;color:#fff;}
.form-ul .input-text{float:right;font-size:18px; height:30px; margin:0; padding:0; width:75%; margin-top:5px; margin-right:5px; border:none;}

.layer-box{position: absolute; width: 100%;height: 100%;top: 0;z-index: 99;}
.layer-bg{position: fixed;width: 100%;height: 100%;background: #000;top: 0;left: 0;z-index: 99; opacity:0.9;}
.layer-wrap{ width:100%; position:absolute; top:0; left:50%;z-index:100;margin-left: -50%;}
.layer-con{color:#fff;}
.share-weixin h2{font-size:0.4rem; line-height:0.6rem;}

.icon-share {
background: url(../images/icon-share.png) no-repeat;
background-size: auto 100%;
height: 1.8rem;
background-position: right center;
margin-right: 20px; margin-top:20px; margin-bottom:20px;
}

#contents{position: absolute;top: 0;bottom: 60px;width: 100%;left: 0;overflow-y: scroll;}

.footer{ height:60px; text-align:center; font-weight:bold;background:#fff; position: absolute; bottom:0; width:100%; overflow: hidden;}
.footer .menu{display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;display: box;color:#999;  background:#333; height:60px;}
.footer .menu li{-webkit-box-flex: 1;-o-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;box-flex: 1; font-size:12px;}
.footer .menu li.cur{background-image: none;background-color: #262626;
background-image: -webkit-linear-gradient(top, #0d0d0d,#1a1a1a 10%,#262626 65%,#282828);
background-image: -moz-linear-gradient(top, #0d0d0d,#1a1a1a 10%,#262626 65%,#282828);
background-image: -o-linear-gradient(top, #0d0d0d,#1a1a1a 10%,#262626 65%,#282828);
background-image: linear-gradient(top, #0d0d0d,#1a1a1a 10%,#262626 65%,#282828);
text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;-webkit-box-shadow: #1a1a1a 0 0 0.25em inset;-moz-box-shadow: #1a1a1a 0 0 0.25em inset;box-shadow: #1a1a1a 0 0 0.25em inset;color:#fff;}
.footer .menu li a{color:#999; text-decoration:none; display:block; height:40px;font-size: 14px; padding:10px 0; line-height:20px;}
.footer .menu li.cur a{color:#fff;}

.no-lottery{ text-align:center;font-size:0.3rem;color:#005982; line-height:0.4rem; margin-top:10px;}
.has-lottery{text-align:center;font-size:0.3rem;color:red; line-height:0.4rem; margin-top:10px;}

.layerBox{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.2); top:0; left:0; z-index:10000;font-size: 0.4rem;}
.layerBg{ background:#fff; width:80%; margin:0 auto; margin-top:15%; text-align:center; border-radius:5px;}
.layerMsg{ padding:50px 10px;}
.layerBtn{ border:0; border-top:1px solid #d6d6dc; width:100%; height: 0.8rem; background:none;font-size: 0.4rem;}
.layerLoginmes { padding:10px; text-align:left; line-height:24px;}