.right{width:837px;float:left;padding-left:10px;}
.replycredit{height:30px;line-height:30px;border-bottom:1px #eee solid;margin-top:20px;font-size:16px;font-weight:bold;}
.same{height:45px;line-height:25px;color:#696969;margin-top:15px;padding-left:10px;}
.commonx{height:120px;line-height:25px;color:#696969;margin-top:15px;padding-left:10px;}
.Tex{width:120px;height:auto;color:#676767;float:left;text-align:right;margin-right:15px;display:inline;font-weight:bold;}
.red{color:#ea533f;}
.textArea{width:570px;height:85px;padding:5px;color:#6e6e6e;border:1px #adacb4 solid;float:left;font-size:12px;}
.max{padding-left:132px;font-size:12px;clear:both;}
.circle{width:280px;height:23px;float:left;border:1px #adacb4 solid;padding-left:5px;color:#6e6e6e;font-size:12px;}
.pressBox{padding-left:150px;height:30px;line-height:30px;margin-top:10px;}
.surePress{float:left;width:72px;height:33px;line-height:33px;text-align:center;color:#fff;background:url(../img/savePress.gif) no-repeat;border:0px;margin-top:13px;margin-left:10px;cursor:pointer;}
.surePress:hover{background:url(../img/saveX.gif) no-repeat;}
.special{height:40px;line-height:40px;margin-top:20px;}
.a_upload{color:#EA533F;}