.right{width:837px;float:left;padding:0px 10px;}
.replycredit{height:30px;line-height:30px;border-bottom:1px #eee solid;margin-top:20px;font-size:16px;font-weight:bold;}
.replyButton{float:left;width:122px;height:33px;text-align:center;line-height:33px;font-size:12px;background:url(../img/addList.gif) no-repeat;margin-right:20px;margin-top:15px;color:#fff;}
.replyButton:hover{background:url(../img/addOver.gif) no-repeat;}
.replayBox{height:60px;}
.sheet{width:100%;background:#eee;color:#6a6a6a;}
.sheet td{background:#fff;text-align:center;height:55px;line-height:55px;}
.sheet th{background:#f1f1f1;height:45px;line-height:45px;text-align:center;}
.edit{float:left;margin:0px 20px;color:#6a6a6a;font-weight:bold;}
.cancel{float:left;color:#6a6a6a;font-weight:bold}
.edit:hover{color:#ea533f;}
.cancel:hover{color:#ea533f;}
.firstTd{width:68px;}
.secondTd{width:348px;}
.thirdTd{width:95px;}
