.right{width:837px;float:left;padding:0px 10px;}
.artiEdit{height:38px;line-height:33px;margin-top:15px;clear:both;}
.big{font-size:18px;font-weight:bold;color:#6e6e6e;float:left;margin-right:10px;}
.small{font-size:12px;color:#aaa;float:left;}
.card{float:left;}
.cardLeft{float:left;width:274px;height:163px;margin-top:25px;margin-left:10px;}
.imgText{height:60px;line-height:60px;color:#6e6e6e;font-size:12px;padding-left:20px;}
.same{height:35px;line-height:35px;color:#696969;margin-top:15px;}
.Tex{height:auto;color:#676767;float:left;text-align:right;margin-right:15px;display:inline;color:#444;font-weight:bold;font-size:12px;}
.remarkBox{height:40px;margin-top:10px;}
.circle{width:250px;height:33px;line-height:33px;float:left;border:1px #adacb4 solid;padding-left:5px;margin-right:10px;}
.cardRight{width:520px;float:left;margin-left:15px;}
.testTex{float:left;margin-right:10px;font-size:12px;}
.testImg{float:left;}
.showPress{width:94px;height:33px;text-align:center;line-height:33px;color:#fff;background:url(../img/buildImg.gif) no-repeat;cursor:pointer;border:0px;}
.showPress:hover{background:url(../img/bulidOver.gif) no-repeat;}
.example{height:20px;line-height:20px;color:#ea533f;font-size:12px;padding-left:105px;}
.exText{font-size:12px;color:#ea533f;}
.remark{font-size:12px;color:#ee533f;}
.save{width:72px;height:33px;text-align:center;line-height:33px;color:#fff;cursor:pointer;background:url(../img/savePress.gif) no-repeat;border:0px;margin-left:100px;margin-bottom:20px;float:left;}
.save:hover{background:url(../img/saveX.gif) no-repeat;border:0px;margin-left:105px;}
.back1{width:72px;height:33px;text-align:center;line-height:33px;color:#fff;cursor:pointer;background:url(../img/savePress.gif) no-repeat;border:0px;margin-left:205px;float:left;}
.back:hover{background:url(../img/saveX.gif) no-repeat;border:0px;}
.cardBox{width:835px;background:#fcfcfc;border:1px #eee solid;float:left;margin-bottom:10px;margin-top:10px;}
.bannerBox li{width:190px;float:left;margin-left:15px;margin-top:15px;}
.bannerBox{padding-bottom:5px;float:left;background:#fcfcfc;border:1px #eee solid;}
.look{width:190px;height:25px;line-height:25px;font-size:12px;color:#6e6e6e;text-align:center;float:left;}
.areaBox{width:180px;height:30px;border:1px #ddd solid;padding:5px;font-size:12px;color:#6e6e6e;}
.attent{height:25px;font-size:12px;color:#ea533f;float:left;}
.load{font-size:12px;color:#009900;float:right;margin-right:70px;}
.vipcard {height: 159px;margin: 0 auto;position: relative; text-align: left;width: 267px;}
#cardbg {border-radius: 8px 8px 8px 8px;box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);height: 159px;left: 0;position: absolute;top: 0;width: 267px;z-index: 1;}
.vipcard .logo { left: 5px;max-height: 70px;position: absolute; top: 8px;z-index: 2;}
.vipcard h1 { color: #000000; font-size: 11px; font-weight: normal;line-height: 25px;position: absolute;right: 10px;text-align: right; text-shadow: 0 1px rgba(255, 255, 255, 0.2);top: 7px;z-index: 2;}
.vipcard .verify { color: #000000;display: inline-block; font-size: 20px; height: 40px;line-height: 24px;right: 12px;text-align: right; text-shadow: 0 1px rgba(255, 255, 255, 0.2);top: 105px;z-index: 2;font-size:14px;}
.pdo {display: inline-block;left: 0;position: absolute; top: 0;}

.px, .pt, .ps, select {
    background: url("../images/img/px.png") repeat-x scroll 0 0 #FFFFFF;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
}
.px, .pt {
    padding: 5px;
}
.px, .pt, .ps, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}
.px {
    height: 17px;
	margin-top:5px;
}
.px, .pt {
    line-height: 17px;
    padding: 2px 4px;
}
.px, .pt, .ps, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/img/px.png") repeat-x scroll 0 0 #FFFFFF;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.a_upload{color:#EA533F;margin-right:14px;}
