*{margin:0px;padding:0px;font-family:"微软雅黑"}
html,body{width:100%;height:100%;overflow:hidden;}
body{width:100%;height:100%;overflow-x:hidden;background:url(../img/middle.jpg) no-repeat center top;background-size:100% 100%;}
a{text-decoration:none;}
.texCenter{text-align:center;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.secretBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:135px;margin-top:10px;margin-right:10px;float:right;}
.core{width:50%;margin-top:60px;margin-bottom:40px;}
.beText{width:230px;height:32px;margin:0px auto 10px auto;padding:5px 0px;border:1px #eb280d solid;border-radius:5px;font-size:12px;color:#0039ad;}
.textTitle{font-size:14px;font-weight:bold;}
.lastCore{width:65%;margin:10px auto 33px auto;}
.sendBtn{width:170px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;}
.cover{position:fixed;z-index:99999;width:100%;height:100%;top:0px;left:0px;background:#000;opacity:0.8;display:none;}
.coverText{font-size:16px;font-weight:bold;color:#fff;line-height:20px;padding:0px 15px;margin-top:20px;}
.topTipP{text-align:right;}
.topTip{width:130px;}
.knowImg{width:125px;margin-top:55px;}
.shareImg{width:25%;margin-bottom:10px;margin-top:40px;}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
.secretBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:125px;margin-top:5px;margin-right:10px;float:right;}
.core{width:160px;margin-top:25px;margin-bottom:10px;}
.beText{width:230px;height:35px;margin:0px auto 5px auto;padding:5px 0px;border:1px #eb280d solid;border-radius:5px;font-size:12px;color:#0039ad;}
.textTitle{font-size:14px;font-weight:bold;}
.lastCore{width:230px;margin:10px auto 15px auto;}
.sendBtn{width:150px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;}
.cover{position:fixed;z-index:99999;width:100%;height:100%;top:0px;left:0px;background:#000;opacity:0.8;display:none;}
.coverText{font-size:16px;font-weight:bold;color:#fff;line-height:20px;padding:0px 15px;margin-top:20px;}
.topTipP{text-align:right;}
.topTip{width:100px;}
.knowImg{width:125px;margin-top:35px;}
.shareImg{width:60px;margin-bottom:10px;margin-top:24px;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
.secretBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:135px;margin-top:10px;margin-right:10px;float:right;}
.core{width:220px;margin-top:45px;margin-bottom:30px;}
.beText{width:230px;height:35px;margin:0px auto 5px auto;padding:5px 0px;border:1px #eb280d solid;border-radius:5px;font-size:12px;color:#0039ad;}
.textTitle{font-size:14px;font-weight:bold;}
.lastCore{width:230px;margin:10px auto 33px auto;}
.sendBtn{width:170px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;}
.cover{position:fixed;z-index:99999;width:100%;height:100%;top:0px;left:0px;background:#000;opacity:0.8;display:none;}
.coverText{font-size:16px;font-weight:bold;color:#fff;line-height:20px;padding:0px 15px;margin-top:20px;}
.topTipP{text-align:right;}
.topTip{width:130px;}
.knowImg{width:125px;margin-top:35px;}
.shareImg{width:80px;margin-bottom:10px;margin-top:40px;}
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){
.secretBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:135px;margin-top:10px;margin-right:10px;float:right;}
.core{width:250px;margin-top:75px;margin-bottom:40px;}
.beText{width:230px;height:35px;margin:0px auto 5px auto;padding:5px 0px;border:1px #eb280d solid;border-radius:5px;font-size:12px;color:#0039ad;}
.textTitle{font-size:14px;font-weight:bold;}
.lastCore{width:230px;margin:10px auto 43px auto;}
.sendBtn{width:170px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;}
.cover{position:fixed;z-index:99999;width:100%;height:100%;top:0px;left:0px;background:#000;opacity:0.8;display:none;}
.coverText{font-size:16px;font-weight:bold;color:#fff;line-height:20px;padding:0px 15px;margin-top:20px;}
.topTipP{text-align:right;}
.topTip{width:130px;}
.knowImg{width:125px;margin-top:55px;}
.shareImg{width:80px;margin-bottom:10px;margin-top:60px;}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
.secretBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:170px;margin-top:15px;margin-right:10px;float:right;}
.core{width:250px;margin-top:75px;margin-bottom:40px;}
.beText{width:300px;height:38px;margin:0px auto 10px auto;padding:5px 0px;border:1px #eb280d solid;border-radius:5px;font-size:14px;color:#0039ad;}
.textTitle{font-size:14px;font-weight:bold;}
.lastCore{width:280px;margin:10px auto 60px auto;}
.sendBtn{width:170px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;}
.cover{position:fixed;z-index:99999;width:100%;height:100%;top:0px;left:0px;background:#000;opacity:0.8;display:none;}
.coverText{font-size:16px;font-weight:bold;color:#fff;line-height:20px;padding:0px 15px;margin-top:20px;}
.topTipP{text-align:right;}
.topTip{width:130px;}
.knowImg{width:125px;margin-top:85px;}
.shareImg{width:80px;margin-bottom:10px;margin-top:80px;}
}