*{margin:0px;padding:0px;font-family:"微软雅黑"}
html,body{width:100%;height:100%;overflow:hidden;}
body{width:100%;height:100%;overflow-x:hidden;}
a{text-decoration:none;}
.texCenter{text-align:center;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.sendLookBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.middle{position:absolute;z-index:0;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:135px;margin-top:10px;margin-right:10px;float:right;}
.topText{width:85%;margin:30px auto 20px auto;font-size:10px;}
.bitText{color:#0039ad;font-size:14px;}
.inforCase{color:#ff3819;font-weight:bold;font-size:14px;margin-top:10px;margin-bottom:5px;}
.inCase{width:150px;border:0px;background:transparent;border-bottom:1px #ff3819 solid;border-radius:0px;}
input.inCase::-webkit-input-placeholder{color:#787878;font-size:12px;}
.lookImg{width:80%;margin-top:25px;}
.begainBtn{width:170px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;margin-top:10px;}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
.sendLookBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.middle{position:absolute;z-index:0;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:135px;margin-top:10px;margin-right:10px;float:right;}
.topText{width:250px;margin:20px auto 5px auto;font-size:10px;}
.bitText{color:#0039ad;font-size:14px;}
.inforCase{color:#ff3819;font-weight:bold;font-size:14px;margin-top:10px;margin-bottom:5px;}
.inCase{width:150px;border:0px;background:transparent;border-bottom:1px #ff3819 solid;border-radius:0px;}
input.inCase::-webkit-input-placeholder{color:#787878;font-size:12px;}
.lookImg{width:210px;margin-top:5px;}
.begainBtn{width:150px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;margin-top:5px;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
.sendLookBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.middle{position:absolute;z-index:0;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:135px;margin-top:10px;margin-right:10px;float:right;}
.topText{width:270px;margin:30px auto 20px auto;font-size:10px;}
.bitText{color:#0039ad;font-size:14px;}
.inforCase{color:#ff3819;font-weight:bold;font-size:14px;margin-top:10px;margin-bottom:5px;}
.inCase{width:150px;border:0px;background:transparent;border-bottom:1px #ff3819 solid;border-radius:0px;}
input.inCase::-webkit-input-placeholder{color:#787878;font-size:12px;}
.lookImg{width:270px;margin-top:10px;}
.begainBtn{width:150px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;margin-top:10px;}
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){
.sendLookBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.middle{position:absolute;z-index:0;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:135px;margin-top:10px;margin-right:10px;float:right;}
.topText{width:300px;margin:50px auto 40px auto;font-size:10px;}
.bitText{color:#0039ad;font-size:14px;}
.inforCase{color:#ff3819;font-weight:bold;font-size:14px;margin-top:10px;margin-bottom:5px;}
.inCase{width:150px;border:0px;background:transparent;border-bottom:1px #ff3819 solid;border-radius:0px;}
input.inCase::-webkit-input-placeholder{color:#787878;font-size:12px;}
.lookImg{width:280px;margin-top:25px;}
.begainBtn{width:150px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;margin-top:10px;}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
.sendLookBox{position:absolute;z-index:1;top:0px;width:100%;height:100%;}
.middle{position:absolute;z-index:0;width:100%;height:100%;}
.logoBox{overflow:hidden;padding:10px 10px 0px 0px;}
.logoImg{width:170px;margin-top:15px;margin-right:10px;float:right;}
.topText{width:340px;margin:60px auto 40px auto;font-size:10px;}
.bitText{color:#0039ad;font-size:16px;}
.inforCase{color:#ff3819;font-weight:bold;font-size:16px;margin-top:15px;margin-bottom:5px;}
.inCase{width:150px;border:0px;background:transparent;border-bottom:1px #ff3819 solid;border-radius:0px;}
input.inCase::-webkit-input-placeholder{color:#787878;font-size:14px;}
.lookImg{width:280px;margin-top:25px;}
.begainBtn{width:150px;height:40px;text-align:center;line-height:40px;background:url(../img/btn.png) no-repeat center top;background-size:100% 100%;border:0px;color:#fff;font-weight:bold;font-size:16px;margin-top:35px;}
}