@charset "utf-8";
/* CSS Document */
body,ul,ol,dl,li,dd,p,form,h1,h2,h3{margin:0;padding:0;}
body{font-size:16px; background:#e8465a; color:#000;}
i,em{font-style:normal; vertical-align:middle;}
img{border:none;}
a,input,button{outline:none;}
li{list-style:none;}
input,textarea,select,button{font-size:1em;}
.clear{clear:both;float:none;}
.clrfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;overflow:hidden;}
.clrfix { zoom:1;}

/*display*/
.hide{ display:none;}
.show{ display:block;}
.v-h{ visibility:hidden;}
.v-v{ visibility:visible;}

/*vertical-align*/
.v-b{ vertical-align:bottom;}
.v-t{ vertical-align:top;}
.v-m{ vertical-align: middle;}

/*float*/
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}

/*margin*/
.ml-10{ margin-left:10px;}
.mt-5{ margin-top:5px;}
.mt-10{ margin-top:10px;}
.mt-20{ margin-top:20px;}
.mt-30{ margin-top:30px;}
.mt-40{ margin-top:40px;}
.mt-50{ margin-top:50px;}
.mr-10{ margin-right:10px;}
.mb-10{ margin-bottom:10px;}
.mb-20{ margin-bottom:20px;}
.mb-30{ margin-bottom:30px;}

/*padding*/
.pt-10{ padding-top:10px;}
.pt-20{ padding-top:20px;}
.pt-30{ padding-top:30px;}
.pb-10{ padding-bottom:10px;}
.pb-20{ padding-bottom:20px;}

/*text-align*/
.ta-c{ text-align:center;}
.ta-l{ text-align:left;}
.ta-r{ text-align:right;}

/*font-size*/
.fz12{font-size:12px;}
.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.fz22{font-size:22px;}
.fz24{font-size:24px;}
.fz26{font-size:26px;}
.fz28{font-size:28px;}
.fz30{font-size:30px;}
.fz40{font-size:40px;}

/*container*/
.container{width: 100%;height: 100%;overflow: hidden;position: relative;}
.content-list{ position: relative;top:0; left:0; width:100%;}
.content-li {list-style: none;width: 100%;position: relative; overflow:hidden;}
.content-li:first-child {background-color: #8098ba;}
.content-li:nth-child(2) {background-color: #f5ceac;}
.content-li:nth-child(3) {background: #e8465a url(../images/p2/img03.png) no-repeat; background-position: 0 120px; background-size:100% auto;}
.content-li:nth-child(4) {background-color: #e8465a;}
.content-li:nth-child(5) {background: #e8465a url(../images/p4/img03.png) no-repeat; background-position: 0 2.2rem; background-size:100% auto;}
.content-li:nth-child(6) {background-color: #e8465a;}
.content-li:nth-child(7) {background-color: #e8465a;}
.content-li:nth-child(8) {background-color: #e8465a;}
.content-li:nth-child(9) {background-color: #e8465a;}
.content-li:nth-child(10) {background-color: #e8465a;}

.page {position: absolute; height:100%; width:100%;}
.page.p0 { position:absolute;top:0;left:0; height:100%;width:100%;}

.zhufu{color:#fff;font-size:0.4rem; font-weight:bold;}

.page.p0 .zhufu{ margin-bottom:10px;}

.page.p0 .cloud{ position:relative;}
.page.p0 .cloud1{ position:absolute; background:url(../images/p0/img03.png) no-repeat;width: 2.05rem;
height: 1.4rem; background-size:auto 100%;left:1rem;top:0; z-index:1;}
.page.p0 .cloud1 .zi1{ position:absolute; background:url(../images/p0/img04.png) no-repeat; width:1.6rem; height:0.58rem; background-size:auto 100%;left: 0.24rem;
top: .25rem;}
.page.p0 .cloud1 .zi2{ position:absolute; background:url(../images/p0/img05.png) no-repeat;width: .5rem;
height: .5rem;background-size:auto 100%;left: 1.04rem;
top: .3rem;

}

.page.p0 .cloud2{ position:absolute; background:url(../images/p0/img06.png) no-repeat;width: 2.06rem;
height: 1.4rem;
background-size: auto 100%;
left: 0.2rem;
top: 0.9rem;z-index:0;}
.page.p0 .cloud2 .zi1{ position:absolute; background:url(../images/p0/img07.png) no-repeat;width: 1.6rem;
height: 0.55rem;
background-size: auto 100%;
left: 0.2rem;
top: 0.3rem;}
.page.p0 .cloud2 .zi2{ position:absolute; background:url(../images/p0/img08.png) no-repeat;width: 0.5rem;
height: 0.5rem;
background-size: auto 100%;
left: 0.7rem;
top: .35rem;}

.page.p0 .cloud3{ position:absolute; background:url(../images/p0/img09.png) no-repeat;width: 1.8rem;
height: 1.5rem;
background-size: auto 100%;
right: 2.1rem;
top: 0.8rem;z-index:2;}
.page.p0 .cloud4{ position:absolute; background:url(../images/p0/img10.png) no-repeat;width: 1.42rem;
height: 1.0rem;
background-size: auto 100%;
left: 3.1rem;
top: 0;z-index:2;}
.page.p0 .cloud5{ position:absolute; background:url(../images/p0/img11.png) no-repeat;width: 1.97rem;
height: 1.6rem;
background-size: auto 100%;
right: 0;
top: 0.4rem;
z-index: 3;}
.page.p0 .cloud6{ position:absolute; background:url(../images/p0/img12.png) no-repeat;width: 1.75rem;
height: 1.2rem;
background-size: auto 100%;
left: 0.35rem;
top: 2.1rem; z-index:1;}

.page.p0 .cloud7{ position:absolute; background:url(../images/p0/img14.png) no-repeat;width: 1.8rem;
height: 1.5rem;
background-size: auto 100%;
right: 0.5rem;
top: 1.7rem;z-index: 2;}
.page.p0 .cloud7 .zi1{ position:absolute; background:url(../images/p0/img13.png) no-repeat;width: .5rem;
height: .4rem;
background-size: auto 100%;
left: 0.16rem;
top: 0.5rem;}

.page.p0 .sheep{position: relative; background:url(../images/p0/img15.png) no-repeat;width: 1.5rem;
height: 2.2rem;
background-size: auto 100%;
left: 2.35rem;
top: 2.3rem;}
.page.p0 .brow1{ position:absolute;background:url(../images/p0/img16.png) no-repeat;width: 0.48rem;
height: 0.68rem;
background-size: auto 100%;
left: 0.25rem;
top: 0.35rem;}
.page.p0 .brow2{ position:absolute;background:url(../images/p0/img17.png) no-repeat;width: .8rem;
height: .6rem;
background-size: auto 100%;
left: .8rem;
top: 0.34rem;}

.page.p0 .shake{position: relative; background:url(../images/p0/img18.png) no-repeat;width: .88rem;
height: 1rem;
background-size: auto 100%;
margin: 0 auto;
top: 2.4rem;}
.page.p0 .btn{position: relative; background:url(../images/p0/img19.png) no-repeat;width: 1.94rem;
height: 0.6rem;
background-size: auto 100%;
margin: 0 auto;
top: 2.55rem;}
.inscribe{position: absolute; right:10px;bottom:10px;  }
.inscribe .name{ font-weight:bold;color:#435189; float:left; margin:0 3px 0 5px; font-size:14px;line-height:16px;}
.inscribe img{float:left;}


.p1-top{ position: absolute; width:100%;top:10px;}
.lantern-wrap{ position:absolute; background:url(../images/p1/img13.png) no-repeat; background-size:auto 100%;height: 1.6rem;
width: 3rem;
left: 0;
top: 0.4rem;}
.lantern-wrap .lantern{position:absolute; background:url(../images/p1/img02.png) no-repeat;width: 1.3rem;
height: 1.5rem;
background-size: auto 100%;
left: 2rem;
top: 0.4rem;}

.firecrackers-wrap{ position:absolute; background:url(../images/p1/img14.png) no-repeat; background-size:auto 100%;height: 2.5rem;
width: 3.15rem;
right: 0;
top: 0.5rem;}
.p1-top .fire1{position:absolute; background:url(../images/p1/img04.png) no-repeat;width: 1.3rem;
height: 1.3rem;
background-size: auto 100%;
left: 3rem;
top: 0rem;}
.p1-top .fire2{position:absolute; background:url(../images/p1/img04.png) no-repeat;background-size: auto 100%;width: 1.2rem;
height: 1.2rem;
left: 0.6rem;
top: 2rem;}
.p1-top .fire3{position:absolute; background:url(../images/p1/img04.png) no-repeat;background-size: auto 100%;width: 1.6rem;
height: 1.6rem;
background-size: auto 100%;
right: -0.1rem;
top: 1.3rem;}

.p1box-top{height: 3.5rem;
position: absolute;
right: 0;
width: 7rem;
top: 3.8rem;}
.p1box-top .sheep{position:absolute; background:url(../images/p1/img08.png) no-repeat;width: 6rem;
height: 3.5rem;
background-size: auto 100%;
right: 0px;
bottom: 0;}
.p1box-top .sheep .zi{position:absolute; background:url(../images/p1/img09.png) no-repeat;width: 4.5rem;
height: 0.66rem;
background-size: auto 100%;
right: 0.05rem;
top: 1.4rem;}
.p1box-top .cloud1{position:absolute; background:url(../images/p1/img11.png) no-repeat;background-size: auto 100%;width: 100px;height: 30px;left: -30px;bottom: -100px;}

.inscribes {
position: absolute;
height: 30px;
background-size: auto 100%;
right: 10px;
bottom: 10px;
}
.inscribes .name{ font-weight:bold;color:#d10f31; float:left; margin:0 3px 0 5px; font-size:14px;line-height:16px;}
.inscribes img{float:left;}

.inscribes2 {
position: absolute;
height: 30px;
background-size: auto 100%;
right: 10px;
bottom: 10px;
}
.inscribes2 .name{ font-weight:bold;color:#fff; float:left; margin:0 3px 0 5px; font-size:14px;line-height:16px;}
.inscribes2 img{float:left;}

.index-arrow-down {
background: url(../images/p1/icon-arrow.png) no-repeat;background-size: 100% 100%;
width: 24px;height: 36px;position: absolute;
bottom: 10px;margin-left: -12px;left: 50%;
}

.page.p2 .couplet{background: url(../images/p2/img01.png) no-repeat;background-size: auto 100%;
width: 220px;height: 70px;margin: 10px auto; text-align:center;}
.page.p2 .couplet .zi{background: url(../images/p2/img02.png) no-repeat;background-size: auto 100%;
width:165px;height: 30px;display: inline-block;margin-top: 20px;}
.wmn-wrap{position: absolute;
height: 160px;
top: 50%;
width: 100%; margin-top:-80px;}
.wmn-wrap .wmn{background: url(../images/p2/img04.png) no-repeat;background-size: auto 100%;
width: 165px;height: 160px; position:absolute;left:50px;top:0;}
.wmn-wrap .mm{background: url(../images/p2/img05.png) no-repeat;background-size: auto 100%;
width: 100px;height:95px;position: absolute;right: -110px;top: 65px;}

.page.p3{ position:absolute;top:0;left:0;width:100%; height:100%;}

.page.p4 .couplet{background: url(../images/p4/img01.png) no-repeat;background-size: auto 100%;
width: 274px;height: 80px; position: absolute;left:50%;top:30px; text-align:center; margin-left:-137px;}
.page.p4 .couplet .zi{background: url(../images/p4/img02.png) no-repeat;background-size: auto 100%;
width: 135px;height: 30px;display: inline-block;margin-top: 5px;}
.page.p4 .wmn{background: url(../images/p4/img04.png) no-repeat;background-size: auto 100%;
width: 200px;height: 200px;margin-left:-100px; position:absolute;top:4.5rem;left:50%;}

.page.p5 .couplet{background: url(../images/p5/img01.png) no-repeat;background-size: auto 100%;
width: 4.95rem;height: 1.3rem; position: relative;left:0;top:0.2rem; text-align:center; margin:0 auto;
}
.page.p5 .couplet .zi{background: url(../images/p5/img02.png) no-repeat;background-size: auto 100%;
width: 3.42rem;height: 0.6rem;display: inline-block;margin-top:0.33rem;}
.page.p5 .wmn-box{background: url(../images/p5/img06.png) no-repeat;background-size: auto 100%;
width: 6rem;height: 6rem; margin:30px auto;position:relative;}
.page.p5 .wmn{background: url(../images/p5/img05.png) no-repeat;background-size: auto 100%;
width: 3.45rem;
height: 5rem; position:absolute;left: 1.3rem;}
.page.p5 .wmn .yan{background: url(../images/p5/img04.png) no-repeat;background-size: auto 100%;
width: 0.7rem;
height: 0.64rem;
position: absolute;
top: 0.45rem;
left: 0.9rem;}

.page.p6 .hua,.page.p7 .hua,.page.p8 .hua{background: url(../images/p6/img01.png) no-repeat;background-size: auto 100%;
width: 40px;height: 35px; position:absolute;}
.page.p6 .hua1,.page.p7 .hua1,.page.p8 .hua1{width: 60px;height: 65px;top:233px;left:40px;}
.page.p6 .hua2,.page.p7 .hua2,.page.p8 .hua2{width: 70px;height: 75px;top:16px;right:40px;}
.page.p6 .hua3,.page.p7 .hua3,.page.p8 .hua3{width: 40px;height: 35px;top:56px;left:120px;}
.page.p6 .hua4,.page.p7 .hua4,.page.p8 .hua4{width: 50px;height: 55px;top:90px;left:40px;}
.page.p6 .hua5,.page.p7 .hua5,.page.p8 .hua5{width: 70px;height: 70px;top:180px;left:220px;}
.page.p6 .hua6,.page.p7 .hua6,.page.p8 .hua6{width: 60px;height: 65px;top:406px;left:40px;}
.page.p6 .hua7,.page.p7 .hua7,.page.p8 .hua7{width: 60px;height: 65px;top:430px;left:230px;}
.page.p6 .hua8,.page.p7 .hua8,.page.p8 .hua8{width: 70px;height: 75px;top:306px;left:190px;}
.page.p6 .hua9,.page.p7 .hua9,.page.p8 .hua9{width: 60px;height: 65px;top:556px;left:40px;}
.page.p6 .wmn{background: url(../images/p6/img02.png) no-repeat;background-size: auto 100%;
width: 4.55rem;
height: 5rem;
margin: 15px auto; position:relative;}
.page.p6 .wmn .zi{background: url(../images/p6/img04.png) no-repeat;background-size: auto 100%;
width: 1.8rem;
height: 2.8rem;
position: absolute;
top: 0.9rem;
left: 2rem;}
.page.p6 .btn{background: url(../images/p6/img03.png) no-repeat;background-size: auto 100%;
width: 2.15rem;
height: 1.8rem;
margin: 20px auto;position:relative; cursor:pointer;}

.page.p7 .btn1{background: url(../images/p7/img01.png) no-repeat;background-size: auto 100%;
width: 3.26rem;
height: 1rem;
position: absolute;
left: 50%;
top: 50%;
margin-left: -1.63rem;
cursor: pointer;
margin-top: -0.5rem;}
.page.p7 .btn2{background: url(../images/p7/img02.png) no-repeat;background-size: auto 100%;
width: 3.26rem;
height: 1rem;
position: absolute;
left: 50%;
top: 50%;
margin-left: -1.63rem;
cursor: pointer;
margin-top: -1.8rem;}

.inscribe3{position: absolute;
background: url(../images/p7/img03.png) no-repeat;
width: 85px;
height: 15px;
background-size: auto 100%;
left: 50%;
bottom: 10px;
margin-left: -55px;}

.form-ul{width: 6rem;
height: 3.4rem;
color: #fff;
font-weight: bold;
margin: 0 auto;
top: 2.5rem;
position: relative;}
.form-item{ margin: 0;font-size: 0.32rem; height:58px;}
.input-text{ border:none;background: none;
border-bottom: 2px solid #fff;
padding: 0 5px;
width: 3.8rem;
color: #fff;
font-size: 0.35rem;}
.btn-send{ background:url(../images/p8/img01.png) no-repeat;width: 3.3rem;
height: 1rem;
background-size: auto 100%;
display: inline-block;
cursor: pointer}

.share-wrap .wmn{background: url(../images/p8/img02.png) no-repeat right;background-size: auto 100%;width: 2.4rem;
height: 3rem; position:absolute; right:40px;top:20px;}
.share-wrap .share{position:absolute; left:20px;top:2rem;color:#fff; text-align:center;}
.share-wrap .icon-share{background: url(../images/p8/img03.png) no-repeat right;background-size: auto 100%;width: 1.4rem;
height: 1.4rem;display:inline-block;}
.share-text{color:#fff; position:absolute;top:4.2rem; left:20px; line-height:26px; font-weight:bold; font-size:20px;}

.layerBox{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.2); top:0; left:0; z-index:999;}
.layerBg{ background:#fff; width:80%; margin:0 auto; margin-top:15%; text-align:center; border-radius:5px;}
.layerMsg{ padding:50px 10px;}
.layerBtn{ border:0; border-top:1px solid #d6d6dc; width:100%; height:45px; background:none;}
.layerLoginmes { padding:10px; text-align:left; line-height:24px;}


/*雪花*/

#leafContainer
{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 2.7rem;
	overflow: hidden;
}

#leafContainer > div
{
	position: absolute;
	max-width: 100px;
	max-height: 100px;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-direction: normal, normal;
	-webkit-animation-timing-function: linear, ease-in;
}

#leafContainer > div > img
{
	width: 100%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-origin: 50% -100%;
}
@-webkit-keyframes fade
{
	0%   {
	opacity: 1;
}
95%
{
	opacity: 1;
}
100%
{
	opacity: 0;
}
}
@-webkit-keyframes drop
{
	0%   {
	-webkit-transform: translate(0px, -50px);
}
100%
{
	-webkit-transform: translate(0px, 650px);
}
}
@-webkit-keyframes clockwiseSpin
{
	0%   {
	-webkit-transform: rotate(-50deg);
}
100%
{
	-webkit-transform: rotate(50deg);
}
}
@-webkit-keyframes counterclockwiseSpinAndFlip
{
	0%   {
	-webkit-transform: scale(-1, 1) rotate(50deg);
}
100%
{
	-webkit-transform: scale(-1, 1) rotate(-50deg);
}
}

/*卷轴*/
table {
	table-layout: fixed;
}
td, form {
	padding: 0;
	margin: 0;
}
video, object {
	z-index: 1;
}
table, svg, iframe {
	table-layout: fixed;
	position: absolute;
	background-color: transparent;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
img, image, v:image {
background-repeat:no-repeat;
image-rendering:-webkit-optimize-contrast;
}
#C0 img{ position:absolute; display:none;table-layout: fixed;
	position: absolute;
	background-color: transparent;
	-webkit-user-select: none;
	-webkit-touch-callout: none;}
.LoaderPercent {
	font-family: Arial;
	color: #808080;
	text-align: center;
	font-size: 12px;
	vertical-align: bottom;
	padding: 0;
	width: 80px;
	height: 26px;
}
.LoaderBorder {
	width: 80px;
	height: 6px;
	background-color: #000000;
	border: 1px solid #808080;
	padding: 0;
	font-size: 1px;
}
.LoaderBar {
	display: block;
	position: relative;
	background-color: #FC9480;
	font-size: 1px;
	width: 0%;
	height: 100%;
	margin: 0;
}
.Loader {
	width: 80px;
}
#C0{ position:absolute;top:30px !important;}
#C0L1S4{height: 32% !important;top: 40% !important;}

.speaker {
background: url(../images/v1.png) no-repeat; position:fixed;
width: 26px;
height: 26px;
z-index: 8;
right: 10px;
top: 10px;
}
.speaker_muted {
background: url(../images/v2.png) no-repeat; 
}