/* CSS Document */
body{color:#666;font-family: arial; font-size:12px;background-color: #eee; margin: 0;}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,button,menu{margin:0;padding:0;}
table, input, textarea {font:inherit; outline:none;}
table {border-collapse:collapse;border-spacing:0;}
.clear {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;zoom:0.02;}
p{ margin: 0; line-height:22px; }
img{ border:0px;}
.wrap{ margin:0 auto;}
a{ color:#666; text-decoration:none;}
.title{ background:#ededed; padding:0px 10px; line-height:35px; height:35px;}
.line{ width:100%; height:1px; border-bottom:1px solid #ddd;}
h2{ margin:10px 0; color:#000;}
.header{
	padding:0px;width:100%; height:50px; min-height:50px; position:relative;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(to bottom, white, #E6E6E6); text-align:center;
	background: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
	height: 50px;
	position: relative;
	-webkit-box-shadow: 0 1px 1px 0 #c4c4c4;
}
.header h3{ line-height:50px; padding:0; font-size:18px; color:#333;}
a.back {
	width: 79px;
	height: 34px; line-height:34px;
	background: url(../images/back.PNG) no-repeat;
	background-size: contain;
	border: 0;
	font-size: 12px;
	overflow: hidden;
	display: inline-block; position:absolute; top:8px; left:15px;
}
.btn { width:100%;
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 12px;
	line-height: 20px;
	*line-height: 20px;
	color: #666;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
		  border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.btn-custome{ background-color:#ffa52c; color:#333;
	-webkit-text-shadow: 0 0 1px #fff;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 2px 2px #ccc;
	box-shadow: 0 2px 2px #ccc;
	background-image: -moz-linear-gradient(top, #ffd33b, #ffa52c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd33b), to(#ffa52c));
	background-image: -webkit-linear-gradient(top, #ffd33b, #ffa52c);
	background-image: -o-linear-gradient(top, #ffd33b, #ffa52c);
	background-image: linear-gradient(to bottom, #ffd33b, #ffa52c);
	background-repeat: repeat-x;
	border-color: #ffa52c #ffa52c #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffd33b', endColorstr='#ffffa52c', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	font-size: 12px;
	min-width:100px;
	border:1px solid #e26116;
}
.btn-custome:hover{background-color: #ffa52c;*background-color: #ffa52c;}
.disabled.btn-custome{ border:1px solid #c5c5c5;}
.btn-custome.disabled:hover{background-color: #e6e6e6;*background-color: #e6e6e6;color:#333;}
.btn-large {
  padding: 11px 0;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 2px;
}
.btns{ padding:15px 10px;}

.sort-options { padding:10px;text-align:center;}
.sort-options ul li {display: inline-block;margin-right: 13px;line-height: 1;}
.sort-options ul li a {font-size: 24px;color: #666;}
.sort-options ul li.cur a {color: #f40;font-weight: bold;}
.sort-options ul li div {
	display: inline-block;
	width: 10px;
	height: 20px;
	line-height: 1;
	vertical-align: top;
	margin-left: 7px;
}
.sort-options ul li div span.asc {
	margin-top: -2px;
	display: block;
	width: 0;
	height: 0;
	content: " ";
	text-indent: -9999px;
	border-width: 5px;
	border-color: transparent transparent #ccc;
	border-style: dotted dotted solid;
	vertical-align: top;
}
.sort-options ul li div span.desc {
	display: block;
	width: 0;
	height: 0;
	content: " ";
	text-indent: -9999px;
	border-width: 5px;
	border-color: #ccc transparent transparent;
	border-style: solid dotted dotted;
	vertical-align: top;
	margin-top: 3px;
}
.sort-options ul li.cur div span.asc.cur {
	border-color: transparent transparent #f40;
	border-style: dotted dotted solid;
}
.sort-options ul li.cur div span.desc.cur {
	border-color: #f40 transparent transparent;
	border-style: solid dotted dotted;
}
.list{ margin:0 auto; width:320px; min-height:2250px;}
.list li{width: 145px;float: left; display:block; margin:0 0 20px 10px;}
.list .img{ width:145px; height:145px; overflow:hidden;}
.list .img img{max-width: 145px;max-height: 145px;}
.list .tit{line-height: 1.4;margin-top: 10px;display: -webkit-box; height:30px;overflow: hidden; font-size:12px;}
.list .price {
	line-height: 1;
	margin-top: 8px;
	color: #d40000;
	font-size: 12px;
	overflow: hidden;
	height: 12px;
}
.price del{
	color: #666;
	font-size: 12px;
	line-height: 1;
	margin-left: 10px;
	display: inline-block;
}
.c-pnav-sec{ width:320px; margin:0 auto;text-align: center;font-size: 18px; height:30px; line-height:30px;}
.c-pnav-sec .item{ width:100px; display: inline-block; float:left;height:30px;}
.c-pnav-down span.icon {
	display: inline-block;
	font-size: 0;
	border-top: 3px solid #666;
	border-left: 3px solid #666;
	width: 6px;
	height: 6px;
	background-color: transparent;
	-webkit-transform: rotate(225deg);
	margin-bottom: 3px; margin-left:10px;
}
.c-pnav-select {
	position: relative;
	height: 30px;
	width: 100px;
	top:-32px;
	opacity: 0; margin-left:20px;
}
.common-search {
	width: 310px;
	margin: 0 auto;
	height:40px;
	margin-bottom:20px;
	margin-top:20px;
}
.common-search .panel {
	display: block;
}
.common-search .search-txt {
	float: left;
	display: inline-block;
	position: relative;
}
.search-txt input {
	height: 33px;
	width: 260px;
	border: solid 1px #DDD;
	border-top-color: #BBB;
	padding-left: 9px;
	color: #333;
	font-size: 16px;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	background: -webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd));
	-webkit-appearance: none;
	text-indent: 0;
	padding-left: 9px;
	border-right-width: 0;
	height: 35px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
 .common-search .search-btn {
	display: inline-block;
	min-width: 58px;
	height: 38px;
	padding: 0 15px;
	border: none;
	background: #eee;
	text-align: center;
	text-decoration: none;
	line-height: 38px;
	color: #333;
	font-size: 14px;
	font-weight: 700;
	-webkit-border-radius: 2px;
	border: 1px solid #ddd;
	border-bottom-color: #bbb;
	background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#f8f8f8),color-stop(1,#eee));
	min-width: 40px;
	height: 35px;
	line-height: 35px;
	width: 40px;
	height: 35px;
	line-height: 35px;
	font-weight: normal;
	padding: 0 8px;
	-webkit-border-radius: 0;
	position: relative;
	background-image: url(../images/in-search.png);
	-webkit-background-size: 40px 35px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}


.footer {background: url(../images/footer-bg.png) repeat-x; height:90px;text-align: center;line-height: 22px;}
.footer .footer-t{ width:300px; margin:0 auto; text-align:left;}
.footer .footer-t p{ float: left; height:30px; line-height:30px;}
.footer a {
	color: #047;
	text-decoration: none;
}
.footer .footer-t .gotop {
	width: 80px;
	text-align: right;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	float:right;
}
.footer .footer-t .gotop a {
	color: #999;
	text-transform: capitalize;
	position: relative;
	padding-right: 15px;
	display: inline-block;
}
.footer .footer-t .gotop a b {
	position: absolute;
	width: 0;
	height: 0;
	top: 10px;
	right: 0;
	border: 4px transparent solid;
	border-bottom-color: #999;
}
.copyright{ margin-top:20px;}

.details{ width:320px; margin:0 auto; padding:10px 0; font-size:14px;}
.details .pic-img{ text-align:center;width:180px; height:180px; margin:0 auto; margin-bottom:10px;}
.details .pic-img img{ max-width: 180px;max-height: 180px;}
.money{color: #d30000; font-size:18px;}
del {
	text-decoration: line-through;
}
.details p{ margin-top:5px;}
.details .buttons button{ width:48%;}
.details .list{ min-height:430px; margin-top:10px;}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.ds-suscart {padding-top: 18px; position:relative; padding-bottom:10px;}
.ds-suscart a {color: #d20000;display: block;height: 100%;}
.ds-suscart b {
	position: absolute;
	right: 6px;
	top: 20px;
	border: #666 solid;
	border-width: 3px 3px 0 0;
	width: 6px;
	height: 6px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
}
.also-like{ border-top:2px solid #ddd; padding-top:10px;}
.btn-next{width: 60px;height: 30px;line-height: 30px;text-align: center;background: url(../images/next.png) no-repeat;
background-size: contain;border: 0px;font-size: 12px;overflow: hidden;display: inline-block;}
.btn-check{ position:absolute; right:15px; top:10px;}
.btn-next a {color: #666666;
display: inline-block;
text-align: center;
width: 60px;
height: 30px;
line-height: 30px;
text-decoration: none;}
.cart{ padding:10px;}

.c-form-checkbox {
	-webkit-appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
	border: solid 1px #DDD;
	border-top-color: #BBB;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.cart .shop >input:checked {
	background-image: url(../images/checked.png) !important;
	background-size: 20px !important;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
}
.cart .shop .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 80%;
	font-size: 16px;
	font-weight: bold;
	top: 1px;
	color:#000;
}
em, i {
font-style: normal;
}
.cart .item .checkbox-container>input:checked {
	background-image: url(../images/item-checked.png) !important;
	background-size: 20px !important;
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
}
.cart .item {
	position: relative;
	margin-bottom: 30px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	display: -webkit-box;
}
.cart .item .pic {
	width: 70px;
	height: 70px;
	text-align: center;
}
.cart .item .pic img {
	max-width: 70px;
	max-height: 70px;
}
.cart .item .desc {
	margin: -3px 0 0 10px;
	-webkit-box-flex: 1;
}
.cart .item .desc .title {
	display: inline-block; padding:0; color:#333;
	font-size: 14px;
	max-height: 32px;
	overflow: hidden;
}
.cart .item .props {
	color: #999;
	font-size: 12px;
	line-height: 150%;
	height: 18px;
	overflow: hidden;
	margin: 4px 0 6px 0;
}
.cart .item .props {
	color: #999;
	font-size: 12px;
	line-height: 150%;
	height: 18px;
	overflow: hidden;
	margin: 4px 0 6px 0;
}
.cart .item .orig-price {
	color: #999;
	font-size: 12px;
	margin-bottom: 8px;
	margin-top: -2px;
}
.cart .item .orig-price span {text-decoration: line-through;}
.c-form-txt-small {
	padding-left: 0;
	width: 58px;
}
.cart .item .subtotal {
	color: #d40000;
	font-size: 16px;
}
.cart .item .trash {
	float: right;
	display: inline-block;
	position: relative;
	left: 10px;
	width: 36px;
	height: 36px;
	background: transparent url(../images/delete.png) no-repeat 12px 8px;
}

.checkout .summary {
	color: #333;
	margin: 20px 10px;
	text-align: right;
	line-height: 154%;
	font-size:16px;
}
.checkout #selected-orders, .checkout #total-price {
	color: #d40000;
	font-size: 16px;
	font-weight: bold;
}
.cart  .shop {
	position: relative;
}
.item-list {
	margin: 20px 0 10px 0;
}
.recv-text{ padding:10px 0;}
#btn-addAddress{ margin:0 0 10px 0;}
.note-text input {
	width: 100%;
	text-indent: 5px;
	height: 35px;
	padding-left: 0;
}
#final{color: #d40000;font-size: 16px;font-weight: bold;}
.total{color: #d40000;font-size: 16px;}
.address-list{ padding:10px; font-size:16px; color:#333;}
.address-list li{ margin:10px 0; }
.address-list li.cur{background:url(../images/current-add.png) no-repeat; background-position:right center;}
.address-list .street{ font-size:12px;}

.innercontent {
	margin: 0px 15px;
	padding: 15px 0;
}
.innercontent .detaildz li {
	display: -webkit-box;
	margin-bottom: 10px;
}
.innercontent .detaildz li:nth-child(2) {
	margin-bottom: 20px;
}
.innercontent .detaildz li .left {
	margin-left: 5px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
.innercontent .detaildz li .right {
	position: relative;
}
.innercontent .detaildz li .right input, #tbh5v0 .innercontent .detaildz li .right textarea {
	height: 31px;
	width: 191px;
	border: solid 1px #DDD;
	border-top-color: #BBB;
	padding-left: 9px;
	color: #333333;
	font-size: 16px;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
.innercontent .detaildz li .right .c-form-select {
	position: relative;
	width: 200px;
}
.innercontent .detaildz li .right .c-form-select select {
	text-indent: 9px;
}
.innercontent .detaildz li .right .c-form-select select option {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.innercontent .detaildz li .right .c-form-select select {
	-webkit-appearance: none;
	width: 200px;
	height: 31px;
	-webkit-border-radius: 0;
	border: solid 1px #D5D5D5;
	border-top-color: #BDBDBD;
	border-width: 1px;
	color: #333333;
	font-size: 16px;
	padding-right: 16px;
	background: #ffffff;
}
.innercontent .detaildz li .right .c-form-select:after {
	content: "";
	top: 11px;
	right: 7px;
	position: absolute;
	display: inline-block;
	font-size: 0;
	border-top: 2px solid #666666;
	border-left: 2px solid #666666;
	width: 6px;
	height: 6px;
	background-color: transparent;
	-webkit-transform: rotate(225deg);
}
.innercontent .detaildz li .right textarea {
	height: 50px;
	width: 191px;
	border: solid 1px #DDD;
	border-top-color: #BBB;
	padding-left: 9px;
	color: #333333;
	font-size: 16px;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
.c-form-checkbox:checked {
	background-position: 0 -24px;
	border: 0;
	-webkit-background-size: 20px 92px;
	background-image: url(../images/hd_checkbox.png);
}
.innercontent .detaildz .asdefault {
	margin: 20px 5px;
}
.order-money{color: #FE7E00;font-weight: bold}
.pay-byzhanghu{padding:20px 0; height:20px;}
.orders-list{ padding:10px;}
.orders-list li{ display:block; padding:20px 10px; border:1px solid #ddd; margin-top:20px; background:#fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.ol-l {
	margin-right: 6px; float:left;
}
.ol-r {
	-webkit-box-flex: 1;
	font-size: 12px;
	line-height: 20px;
	float:left;
}
.ol-l a {
	width: 56px;
	height: 56px;
	border: 1px #e5e5e5 solid;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.ol-l img {
	max-width: 50px;
	max-height: 50px;
}
.ol-t a, .ol-r a {
	display: block;
}
.ol-r h3 {
	font-weight: normal;
	color: #212121;
	line-height: 16px;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap; max-width:200px; overflow:hidden;
}
.ol-r .r-price {
	color: #999;
	line-height: 14px;
}
.orange {
	color: #f60;
}
.green {
	color: #008c46;
}
.ol-r .r-btn {
	margin-top: 10px;
}
.ol-r .r-btn a {
	display: inline-block;
	margin-right: 10px;
}
.c-btn {
box-shadow: 0 0 0 rgba(0,0,0,0);
-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
border: 1px #c4c4c4 solid;
}
.c-btn {
-webkit-tap-highlight-color: rgba(0,0,0,0);
display: inline-block;
height: 30px;
line-height: 30px;
font-size: 14px;
color: #212121;
min-width: 38px;
padding: 0 6px;
text-align: center;
border-radius: 4px;
background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#ededed));
box-shadow: 0 0 1px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.6);
}
.r-btn .btn{ padding:5px 0; width:45%;}
.aw.a-d {
background-image: url(../images/arrow-top.png);
}
.aw.a-u {
background-image: url(../images/arrow-bottom.png);
}
.aw {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.orders-list .c-pnav-sec{ padding:20px 0;}
.orders-list .c-pnav-sec .btn{ width:100px; height:30px; line-height:30px; padding:0;}
#order-details{ background:#fff;}
#order-details li{background: none; border:none; margin-top:0;border-bottom:1px dashed #ddd; height:70px; position:relative;}
#order-details li .ol-r{ position:absolute; right:10px; top:10px;}
#order-details h3 {
	font-weight: normal;
	color: #212121;
	line-height: 16px;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
	max-width: 210px;
	overflow: hidden;
}
.ol-m{ float:left;}
.mb-dt{ margin:10px 0;}
.red {
	color: #d40000;
}

.c-list {
	background-color: #fff;
	border: 1px #c1c1c1 solid;
	border-radius: 8px;
	border-bottom:none;
	margin-bottom:20px;
}
#order-details  .c-list li {
	min-height: 38px;
	line-height: 38px;
	height: auto;
	border-bottom: 1px #ccc solid;
	display: -webkit-box;
	padding:0; margin:0;
}
.c-list li label {
	width: 70px;
	text-align: right;
	padding: 0 10px 0 6px;
	color: #666;
}
.c-list li span {
	-webkit-box-flex: 1;
	padding-right: 6px;
}
.c-list li label, .c-list li span {
	display: block;
	font-size: 12px;
}
.btn-cate{border: 1px solid #ff4300;
border-bottom-color: #CA3511;
-webkit-border-radius: 4px;
width: 58px;
height: 28px;
line-height: 28px;
background: #FF4300; position:absolute; right:15px; top:10px;}
.btn-cate a{ color:#fff !important;}
.hide{ display:none;}
.menu-list, .backpop {
	display:none;
	position: absolute;
	right: 5px;
	top: 48px;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.menu-list .sub-box, .backpop .sub-box {
	display: -webkit-box;
	-webkit-box-align: center;
}
.menu-list .separate-line, .backpop .separate-line {
	height: 210px;
	border-left: 1px solid #444;
	border-right: 1px solid #111;
}
.menu-list li, .backpop li {
	width: 93px; display:block;
}
.menu-list li a, .backpop li a {
	display: block;
	width: 90px;
	height: 39px;
	text-align: center;
	line-height: 39px;
	color: #fdf7f7;
	font-size: 15px;
}
.menu-list:after, .backpop:after {
	position: absolute;
	top: -8px;
	right: 22px;
	content: "";
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom: 8px solid rgba(0, 0, 0, 0.8);
	border-top: none;
}
.innercontent .login-form {
	width: 280px;
}
.innercontent .login-form fieldset {
	border: none;
}
.innercontent .login-form .c-form-search, #tbh5v0 .innercontent .login-form .pwd {
	position: relative;
}
.innercontent .login-form .submit-btn, #tbh5v0 .innercontent .login-form .login-option {
	margin-top: 20px;
}
.innercontent .login-form .login-option {
	font-size: 14px;
}

.c-form-search button {
	top: 1px;
	right: 40px;
	width: 33px;
	height: 33px;
	position: absolute;
	border: 0;
	background-color: transparent;
	text-align: center;
	display: none;
}
.c-form-search input[type="text"],  .c-form-search input[type="email"],  .c-form-search input[type="search"],  .c-form-search input[type="number"],.c-form-search input[type="tel"],  .c-form-search input[type="url"] {
	height: 33px;
	width: 289px;
	border: solid 1px #DDD;
	border-top-color: #BBB;
	padding-left: 9px;
	color: #333333;
	font-size: 16px;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}
.innercontent .login-form .username input, .innercontent .login-form .pwd input {
	width: 100%;
	padding-left: 26px ;
	-webkit-box-sizing: border-box;
	text-indent: 0;
}
.innercontent .login-form input ,.innercontent .re-form input{
	background:#fff url(../images/form.png) no-repeat;
	background-size: 56px;
	height:35px;
}
#J_UserNameTxt{background-position: 5px 8px;}
#J_PassWordTxt{background-position: 8px -48px;}
#J_PhoneTxt{background-position: 8px -18px;}
#J_IdentifyCode{ background:#fff;}
.c-form-search button {
	top: 1px;
	right: 40px;
	width: 33px;
	height: 33px;
	position: absolute;
	border: 0;
	background-color: transparent;
	text-align: center;
}	
.innercontent .login-form .pwd {
	margin-top: 10px;
}
.c-form-search button span:after {
	width: 16px;
	height: 16px;
	background-image: url(../images/del.png);
	-webkit-background-size: 8px 8px;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	content: "";
}
.innercontent .login-form .login-option {
	margin-top: 20px;
}
.innercontent .login-form .login-option label {
	color: #333;
}
.innercontent .login-form .login-option .reg-find-pwd {
	float: right;
	margin-left: 20px;
}
.innercontent .login-form .login-option .reg-find-pwd .reg,.innercontent .login-form .login-option .reg-find-pwd .forget-pwd {
	color: #004477;
	text-decoration: none;
}
.c-form-txt-normal {
	height: 33px;
	width: 289px;
	border: solid 1px #DDD;
	border-top-color: #BBB;
	padding-left: 9px;
	color: #333333;
	font-size: 16px;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fdfdfd));
}

.innercontent .tips {
	font-size: 12px;
	color: #999;
	margin: 5px 0 5px 0;
}
.innercontent .err .tips {
	color: red;
}
.innercontent fieldset {
	border: none;
}
.innercontent .field {
	padding: 5px 0;
}
.innercontent .err input {
	border: 2px solid red;
}
.innercontent input.c-f-text {
	width: 100% !important;
	padding-left: 26px !important;
	-webkit-box-sizing: border-box;
	text-indent: 0;
}

.codeTxt{ float:left;}
.codePhoto{ float:left; margin-left:10px; background:#fff;}